<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" routerLink="">
      <span class="navbar-brand mb-0 h1"><i class="fa-solid fa-crash-register"></i>
        eKart
    </span>
    <div class="d-flex">
        <div class="me-3 d-flex">
            <input type="text" #search class="form-control" placeholder="Enter Keyword" name="">
            <button class="btn" (click)="keyChange(search)"><i class="fa-solid fa-magnifying-glass"> </i></button>
        </div>
        <a  class="btn btn-outline-dark me-3" routerLink="/wish">
          <i class="fa-solid fa-heart" style="color: red;"></i>
           Wishlist &nbsp;<span class="badge bg-dark" >{{wishlistcnt}}</span>
        </a>
        <a  class="btn btn-outline-dark me-3" routerLink="/cart">
          <i class="fa-solid fa-cart-shopping" style="color: red;"></i>
           Cart &nbsp;<span class="badge bg-dark" >{{cartCnt}}</span>
        </a>

        
          <span *ngIf="logStatus">
            <span>
              <i class="fa-solid fa-user"></i>
              {{userName}}
            </span>
            <a (click)="logout()" class="btn btn-danger" >LogOut</a>
          </span>
          <a href="" class="btn btn-outline-dark me-3" *ngIf="!logStatus" routerLink="log">
            <i class="fa-solid fa-user" style="color: green;"></i>
             Login
          </a>
    </div>
    </div>
  </nav>
